<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Room Reservation</title>
    <script>
        /**
         * View for reservation
         *
         * M426: Anfrage stellen
         *
         * @author  Nina Hagenbucher
         * @since   2020-06-26
         * @version 1.0
         */

        /*
        //funktion um anzuzeigen ob die Reservierung gelungen ist
        function success() {
            alert("Ihre Reservierung war erfolgreich.");
        }
        */
    </script>
</head>
<body>
    <!-- header + navbar-->
    <table id="header">
        <tr>
            <td><h1 id="title">Room Management</h1></td>
            <td><input id="searchbar" type="text" placeholder="Search.."></td>
        </tr>
    </table>

    <div class="topnav">
        <a href="startPage.html">Home</a>
        <a href="agbPage.html">AGB</a>
        <a href="reservationPage.html">Reservationen</a>
        <a class="active" href="anfrageStellen.html">Raum reservieren</a>
    </div>

    <!-- Anfrage Form -->
    <div id="wrap">
        <div id="reservationForm">

            <form id="roomReserve" method="post">
                <h1 id="reservationTitle">Raum reservieren</h1>
                <table id="reservation" class="reservationTable">
                    <tr>
                        <td>
                            <label>Organisator</label>
                        </td>
                        <td>
                            <input type="text" id="organiser" name="organiser">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Event</label>
                        </td>
                        <td>
                            <input type="text" id="event" name="eventName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Beschreibung</label>
                        </td>
                        <td>
                            <textarea type="text" id="event" name="beschreibung"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Räume</label>
                        </td>
                        <td>
                            <select id="rooms" name="roomId">
                                <option>Room150</option>
                                <option>Room67</option>
                                <option>Room2</option>
                                <option>Room30</option>
                                <option>Room23</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Start</label>
                        </td>
                        <td>
                            <input type="date" id="start" name="start">
                        </td>
                        <td>
                            <input type="time" id="time" class="time" name="timestart" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ende</label>
                        </td>
                        <td>
                            <input type="date" id="end" name="end">
                        </td>
                        <td>
                            <input type="time" id="time" class="time" name="timeend" >
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Telefonnummer</label>
                        </td>
                        <td>
                            <input type="text" id="telefonnummer" name="telefonnummer">
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="saveRoomData" style="height: 35px; width:100px;" type="submit" value="Reservieren" >
                        </td>
                    </tr>






                </table>
            </form>
        </div>
    </div>

    <div id="error">
    </div>

</body>

<script src='./js/jquery-3.4.1.min.js'></script>
<script src='./js/bootstrap.min.js'></script>
<script src='./js/js.cookie.js'></script>
<script src='./js/util.js'></script>

<script src='./js/AnfrageStellenViewController.js'></script>
</html>