<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Room Reservations</title>
</head>
<body>
    <!-- header + navbar-->
    <table id="header">
        <tr>
            <td><h1 id="title">Room Management</h1></td>
            <td><input id="searchbar" type="text" placeholder="Search.."></td>
        </tr>
    </table>

    <div class="topnav">
        <a href="startPage.html">Home</a>
        <a href="agbPage.html">AGB</a>
        <a class="active" href="reservationPage.html">Reservationen</a>
        <a href="anfrageStellen.html">Raum reservieren</a>
    </div>

    <!-- reservations -->
    <div id="reservationList">
        <table id="reservation" class="reservationBox">
                <tr>
                    <td><a id="roomName"></a> 
                    <a>Datum: </a><a id="dateStart"></a> <a id="timeStart"></a><a> - </a><a id="dateEnd"></a> <a id="timeEnd"></a></td>
                </tr>
                <tr>
                    <td><a>Veranstalter:</a>
                    <a id="organizer"></a>
                    <a id="phoneNr"></a></td>
                </tr>
            </table>
    </div>

    <script src='./js/jquery-3.4.1.min.js'></script>
    <script src='./js/bootstrap.min.js'></script>
    <script src='./js/js.cookie.js'></script>
    <script src='./js/util.js'></script>

    <script src='./js/ReservationViewController.js'></script>

</body>
</html>
