<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Room Management</title>
</head>
<body>
    <!-- header + navbar-->
    <table id="header">
        <tr>
            <td><h1 id="title">Room Management</h1></td>
            <td><input id="searchbar" type="text" placeholder="Search.." onkeyup="loadRooms()"></td>
        </tr>
    </table>

    <div class="topnav">
        <a class="active" href="startPage.html">Home</a>
        <a href="agbPage.html">AGB</a>
        <a href="reservationPage.html">Reservationen</a>
        <a href="anfrageStellen.html">Raum reservieren</a>
    </div>

    <!-- rooms -->
    <div id="MeineRaeume">
        <!-- Hier werden die Räume vom ViewController geladen -->
    </div>

    <script src='./js/jquery-3.4.1.min.js'></script>
    <script src='./js/bootstrap.min.js'></script>
    <script src='./js/js.cookie.js'></script>
    <script src='./js/util.js'></script>

    <script src='./js/RoomListViewController.js'></script>
</body>
</html>
